.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
*~
/*_cache/
*jld2
.\#*
\#*\#
.Rhistory
.python-version
/docs/rmd/jep*
/docs/rmd/ahs2011*
/docs/rmd/MullainathanSpiess
/docs/rmd/Data_AEJ*
/docs/jmd/tmp
/docs/jmd/archive
/docs/weavecache
/docs/rmd/deps/
/docs/auto
/docs/cache
